img { border: solid 3px transparent; max-width: 100%; height:auto}
img:hover { border-color: rgb(255, 255, 255), 255; }
* { margin:0; padding:0; }
html { overflow-x:hidden; scroll-behavior: smooth;}
body { background:rgb(41, 41, 47); font: normal 13px/1.2 "Avenir", sans-serif; }
body { padding:30px; padding-bottom:0px; overflow-x:hidden; }
body { -webkit-text-size-adjust:none; -moz-text-size-adjust:none; text-size-adjust:none; }
.everything { background:rgb(255,255,255); position:relative; margin-left: auto; margin-right: auto; max-width: 900px; padding:20px; }
h1 { color:#db5f21; font-weight: bold; font-size:30px;  margin-top:10px; margin-bottom:10px; }
h2 { color:#4d3c33;  margin-bottom:10px; font-size:23px; font-weight: bold; margin-top:15px; }
h3 { color:#7a665c; font-size:20px; margin-top:10px}
p  { margin-top:10px; margin-bottom:12px; font-size:15px;}
ul { list-style-type:none; margin-top:10px; margin-bottom:10px; }
a  { color:#db5f21; font-style:italic; text-decoration:none; font-size:15px;}
a:hover { text-decoration:underline; }
.big_link { color:#db5f21; font-style:italic; text-decoration:none; font-size:22px;}
.big_link:hover { text-decoration:underline; }
li { color:#000000; margin-bottom: 10px; margin-top:10px; margin-left:15px; font-size:15px}
.good { color:#ff0; }
.section { margin-top:26px; }
.drop { margin-bottom:18px; }
.bio { color:#000000; font-size:12px; margin-left:30px; margin-bottom:22px; }
hr { border: none; border-top: 1px solid rgb(0, 0, 0); margin-top: 10px; margin-bottom: 15px; }
.logo { display:block; position:absolute; pointer-events:none; top:0px; left:-150px; }

.container {
    display: flex;
}

.caption {
  font-style: italic;
  text-align: center;
  margin-bottom: 10px;
}
.center {
  display: block;
  margin-top: 50;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.sidebar {
 background-color: white;
  width: 130px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px;
  padding-left: 20px;
  padding-right:20px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.fit_img {
    object-fit: cover;
}

/* Settings start */
.justified-grid-gallery {
  --space: 4px;
  --min-height: 190px;
  --last-row-background: none;
}
/* Settings end */

.justified-grid-gallery {
  display: flex;
  flex-wrap: wrap;
  grid-gap: var(--space);
  list-style: none;
  margin: 0 !important; /* We use !important to avoid gaps in some environments. */
  padding: 0 !important; /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery > * {
  flex-grow: calc(var(--width) * (100000 / var(--height)));
  flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
  aspect-ratio: var(--width) / var(--height);
  position: relative;
  overflow: hidden;
  margin: 0 !important; /* We use !important to avoid gaps in some environments. */
  padding: 0 !important; /* We use !important to avoid gaps in some environments. */
}

.justified-grid-gallery > * > img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.justified-grid-gallery::after {
  content: " ";
  flex-grow: 1000000000;
  background: var(--last-row-background);
}

.grid_img {
    object-fit: cover;
}

div.scroll-container {
  overflow: auto;
  white-space: nowrap;
 height : 250px;

  overflow-y: hidden; /* Disable horizontal scroll */
}

div.scroll-container img {
  padding: 10px;
  height: 100%;
}